<%= turbo_stream_from "#{dom_id(@course)}" %>
<% breadcrumb :course, @course %>
<main>
  <div class="px-4 pt-6">
    <%= render 'shared/breadcrumbs' %>
    <%= render 'courses/chapter_list', chapters: @course.chapters, user: current_user %>
  </div>
</main>
